:root {
    --header-bg-color-1: rgb(255, 255, 255);
    --header-bg-color-2: rgb(255, 181, 209);
}

body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, var(--header-bg-color-2), var(--header-bg-color-1));
}

.container {
    background: white;
    padding: 20px;
    width: 60%;
    margin: 2em 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #ff5722;
    color: white;
}

textarea {
    width: 90%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.btn {
    background: #ff5722;
    color: white;
    font-size: 1em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover,
.btn-back:hover {
    background: #e64a19;
}

.total {
    font-size: 18px;
    margin-top: 15px;
}

.reviews {
    margin-top: 20px;
    text-align: left;
}

.review {
    background: #fff3e0;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.btn-back {
    background: #ff5722;
    color: white;
    border: none;
    padding: 1em 3em;
    font-size: 1.2em;
    border-radius: 15px;
    cursor: pointer;
}