    :root {
        --header-bg-color-1: rgb(255, 255, 255);
        --header-bg-color-2: rgb(255, 181, 209);
    }

    .cont-1 {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100vw;
        align-content: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        background: white;
        padding: 20px;
        width: 60vw;
        margin: 2em 0;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        align-items: center;
        justify-content: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    th {
        background: #ff5722;
        color: white;
    }

    .btn {
        background: #ff5722;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn:hover,
    .btn-back:hover {
        background: #e64a19;
    }

    .total {
        font-size: 18px;
        margin-top: 15px;
    }

    .btn-back {
        background: #ff5722;
        color: white;
        border: none;
        font-size: 1.2em;
        border-radius: 15px;
        cursor: pointer;
        width: 10vw;
        padding: 1em;
        margin: 1em;
        align-self: center;
    }

    form {
        display: flex;
        gap: 1em;
        align-items: center;
        justify-content: center;
    }