* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-1 {
    margin: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1vh;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 50vw;
}

.container h1 {
    color: #ff5722;
}

.container p {
    font-size: 1.3em;
    margin-bottom: 1vh;
}

.input-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login input {
    width: 80%;
    margin: 1%;
    padding: 3%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.5em;
}

.signup {
    flex-direction: column;
}

.signup input {
    width: 80%;
    margin: 1%;
    padding: 2% 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
}

.input-box label {
    font-size: 1.3em;
    width: 40%;
}

.input-box textarea {
    width: 80%;
}

.btn {
    text-align: center;

    background: #ff5722;
    color: white;
    border: none;
    width: 80%;
    padding: 1.5%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8em;
    text-decoration: none;
}

.btn:hover {
    background: #e64a19;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1vh;
}