

.food-section {
    padding: 10px;
    margin: 2em 1em;
    border-radius: 15px;
    text-align: center;
    background-color: var(--foods-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.food-section h2 {
    align-self: center;
    width: 14vw;
    padding: 0.5em 1em;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border-radius: 10px;
}

.filtros {
    padding: 2vh 0vw;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1%;
}

.filter-button {
    width: 9vw;
    font-size: 1.2em;
    padding: 1vh 0;
    background: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.filter-active {
    background: var(--button-bg-active);
    color: var(--button-text-active);
}

.filter-button:hover {
    background: var(--button-text-color);
    color: var(--button-bg-color);
}

.filtered {
    animation-name: filteredAnimation;
    animation-duration: 1s;
}

@keyframes filteredAnimation {
    from {
        background: var(--button-bg-active);
        color: var(--button-text-active);
    }

    to {
        background: var(--button-bg-color);
        color: var(--button-text-color);
        ;
    }
}

.scroll-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    justify-content: space-evenly;
}


.food-item {
    width: 15vw;
    height: 55vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 0;
    color: var(--foods-text-color);
    background: var(--food-bg-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);

    transition: transform 0.3s ease-in-out;
}

.food-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px var(--box-shadow);
    background-color: var(--food-bg-hover);
}

.food-item img {
    border-radius: 10px;
    background-color: var(--food-img-bg);
    width: 80%;
    height: 35vh;
    padding: 0.5em;
    box-shadow: 2px 2px 10px var(--box-shadow);
}

.nombre {
    padding: 0;
}

.price {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.order-btn {
    background: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    font-weight: bold;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    transition: 0.3s;
}

.order-btn:hover {
    background: var(--button-text-color);
    color: var(--button-bg-color);
}

footer {
    min-height: 50px;
    text-align: center;
    padding: 10px;
    background: var(--footer-bg-color);
    color: var(--footer-text-color);
    font-size: 16px;
}