    :root {
        --header-bg-color-1: rgb(255, 255, 255);
        --header-bg-color-2: rgb(255, 181, 209);
    }

    .cont-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: white;
        padding: 20px;
        width: 70vw;
        height: 70vh;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 2em 0em;
    }

    textarea {
        width: 60vw;
        height: 100px;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .btn {
        background: #ff5722;
        color: white;
        font-size: 1em;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn:hover,
    .btn-back:hover {
        background: #e64a19;
    }

    .reviews {
        margin-top: 20px;
        text-align: left;
    }

    .review {
        background: #fff3e0;
        padding: 10px;
        margin: 5px 0;
        border-radius: 5px;
    }

    .btn-back {
        background: #ff5722;
        color: white;
        border: none;
        padding: 1em 3em;
        font-size: 1.2em;
        border-radius: 15px;
        cursor: pointer;
    }


    table {
        width: 60vw;
        text-align: center;
        border: 1px solid black;
    }
  
    td,
    th {
        border: 1px solid black;
    }