* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 40vw;
    overflow-y: auto;
    max-height: 90vh;
}

.input-box {
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.input-box input,
.input-box select,
.input-box textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background: #ff5722;
    color: white;
    border: none;
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3em;
    margin-top: 10px;
}

.btn:hover {
    background: #e64a19;
}
