

.container {
    margin: 20px auto;
}

.table-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.table thead {
    background-color: #0d6efd;
    color: white;
}

.btn:hover {
    background-color: #222222;
    color: white;
}

.btn-edit {
    background-color: #ffc107;
    border: none;
    color: white;
}

.btn-delete {
    background-color: #dc3545;
    border: none;
    color: white;
}

h2 {
    color: #0d6efd;
    margin-bottom: 20px;
}