
		.container {
			margin: 20px auto;
		}
        .table-container {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 20px;
        }
        .table thead {
            background-color: #0d6efd;
            color: white;
        }
		.btn:hover {
			background-color: #222222;
			color: white;
		}
        .btn-add {
            background-color: #0d6efd;
            border: none;
            color: white;
        }		
        .btn-edit {
            background-color: #ffc107;
            border: none;
            color: white;
        }
        .btn-delete {
            background-color: #dc3545;
            border: none;
            color: white;
        }
        h2 {
            color: #0d6efd;
            margin-bottom: 20px;
        }
        .mensaje-corto {
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
		
		.form-container {
            background-color: #eeeeee; 
            border-radius: 10px;
            padding: 25px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }
        .header-title {
            color: #0d6efd;
            border-bottom: 2px solid #0d6efd;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        .required-field::after {
            content: "*";
            color: red;
            margin-left: 4px;
        }
        .btn-action {
            min-width: 100px;
        }
        textarea {
            resize: vertical;
            min-height: 120px;
        }		
    